.instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 75%;
    border-radius: 15px;
    background-color: #312a2c;
    z-index: 10;
    padding: 50px 100px;
    color: white;
    font-family: 'Mitr', sans-serif;
}

.instructions span {
    font-family: 'Mitr', sans-serif;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #312a2c;
    color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 15px;
}

.instructions h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.instructions h4, .instructions a {
    font-size: 15px;
    margin: 0;
    width: 100%;
    text-decoration: none;
    color: #3aa394;
}